@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: none;
}

@layer utilities {
  @supports selector(::-webkit-scrollbar) {
    /* get rid of daisyui's scrollbar-color */
    * {
      scrollbar-color: initial !important;
    }

    .scrollbar-conversations::-webkit-scrollbar {
      width: 8px;
    }
    .scrollbar-conversations::-webkit-scrollbar-thumb {
      background: purple;
    }
    .scrollbar-conversations::-webkit-scrollbar-track {
      background: orange;
    }

    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: red;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }

  /* no custom scrollbar support*/
  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-conversations {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }

    .scrollbar-conversations:hover {
      scrollbar-color: red blue;
    }

    .scrollbar-messages {
      scrollbar-width: auto;
      scrollbar-color: red blue;
    }
  }
}
