@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gg sans";
  src: url("/public/fonts/gg-sans//gg\ sans\ Medium.ttf");
}

:root {
  --leave-color: rgb(242, 63, 66);
}
body {
  overscroll-behavior-y: none;
}
textarea:focus,
input:focus {
  outline: none;
}

/* --------------------------------------------- */

.server-dropdown-enter {
  opacity: 0;
  transform: scale(0.75);
}
/* IF THE HEIGHT OF THE DROPDOWN CHANGES, NEED TO CHANGE MAX-HEIGHT BELOW */
.server-dropdown-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    transform 75ms,
    opacity 75ms;
}
.server-dropdown-exit {
  opacity: 1;
  transform: scale(1);
}
.server-dropdown-exit-active {
  opacity: 0;
  transform: scale(0.75);
  transition:
    transform 75ms,
    opacity 75ms;
}

/* server tooltip css transition --------------------------------------------- */
.server-tooltip-enter {
  opacity: 0;
  transform: scale(0.95);
}
.server-tooltip-enter-active {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  transition:
    opacity 75ms,
    transform 75ms;
}
.server-tooltip-exit {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.server-tooltip-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 75ms,
    transform 75ms;
}

/* --------------------------------------------- */
/* info tooltip css transition --------------------------------------------- */
.info-tooltip-enter {
  opacity: 0;
  transform: translateX(-50%) scale(0.95);
}
.info-tooltip-enter-active {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  transition:
    opacity 75ms,
    transform 75ms;
}
.info-tooltip-exit {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.info-tooltip-exit-active {
  opacity: 0;
  transform: translateX(-50%) scale(0.95);
  transition:
    opacity 75ms,
    transform 75ms;
}

/* --------------------------------------------- */

/* modal menu css transition --------------------------------------------- */

.modal-menu-enter {
  opacity: 0;
  transform: scale(0.5);
}
.modal-menu-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 75ms,
    transform 75ms;
}
.modal-menu-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-menu-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition:
    opacity 75ms,
    transform 75ms;
}

/* modal overlay css transition --------------------------------------------- */

.modal-overlay-enter {
  opacity: 0;
}
.modal-overlay-enter-active {
  opacity: 0.65;
  transition: opacity 200ms;
}
.modal-overlay-exit {
  opacity: 0.65;
}
.modal-overlay-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* --------------------------------------------- */

@layer utilities {
  /* --------------------------------------------- */

  .message-skeleton {
    height: 1.25rem;
    border-radius: 0.375rem;
    background-clip: content-box;
    padding: 0.125rem;
    display: inline-block;
  }

  /* --------------------------------------------- */
  .server-card {
    transition:
      box-shadow 100ms,
      transform 100ms;
  }
  .server-card:hover {
    box-shadow:
      12px 12px 12px 0px rgba(0, 0, 0, 0.75),
      -10px -10px 10px oklch(32.11% 0.015896 252.418);
    transform: scale(1.025);
  }

  /* --------------------------------------------- */
  .server-dropdown {
    /* absolute left-20 top-14 flex h-20 w-[224px] flex-col rounded-md bg-purple-600 p-2 */
    position: absolute;
    left: 5rem;
    top: 3.5rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem;
    background-color: black;
    padding: 0.5rem;
    overflow: hidden;
  }

  /* info tooltip --------------------------------------------- */

  .info-tooltip {
    position: absolute;
    border-radius: 0.375rem;
    background-color: black;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    color: #dbdee1;
    max-width: 11rem;
    font-size: 14px;
    font-weight: 500;
    z-index: 500;
    transform: translateX(-50%);
  }

  .info-tooltip::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    top: 100%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    border-radius: 0.05rem;
  }

  /* --------------------------------------------- */

  /* server tooltip --------------------------------------------- */

  .server-tooltip {
    position: absolute;
    border-radius: 0.375rem;
    background-color: black;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    color: #dbdee1;
    max-width: 11rem;
    font-weight: 500;
    z-index: 500;
    transform: translateY(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .server-tooltip::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    top: 50%;
    left: -0.25rem;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 0.05rem;
  }

  /* --------------------------------------------- */

  @supports selector(::-webkit-scrollbar) {
    /* get rid of daisyui's scrollbar-color */
    * {
      scrollbar-color: initial !important;
    }

    /* conversations scrollbar */
    .scrollbar-sidebar::-webkit-scrollbar {
      width: 8px;
    }
    .scrollbar-sidebar::-webkit-scrollbar-thumb {
      background: #1e1f22;
      border-radius: 4px;
      min-height: 40px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    .scrollbar-sidebar::-webkit-scrollbar-track {
      background: transparent;
    }
    .scrollbar-sidebar.visible-on-hover::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
    .scrollbar-sidebar.visible-on-hover:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }

    /* messages scrollbar */
    .scrollbar-messages::-webkit-scrollbar {
      width: 16px;
    }
    .scrollbar-messages::-webkit-scrollbar-thumb {
      min-height: 40px;
      border-radius: 8px;
      /* base-400 */
      background: #1e1f22;
      border: 4px solid transparent;
      background-clip: padding-box;
    }
    .scrollbar-messages::-webkit-scrollbar-track {
      border-radius: 8px;
      /* base-200 */
      background: #2b2d31;
      border: 4px solid transparent;
      background-clip: padding-box;
    }

    /* hidden scrollbar */
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
  }

  /* no custom scrollbar support*/
  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-sidebar {
      scrollbar-width: thin;
      scrollbar-color: red transparent;
    }
    .scrollbar-sidebar.visible-on-hover {
      scrollbar-color: transparent transparent;
    }

    .scrollbar-sidebar.visible-on-hover:hover {
      scrollbar-color: red transparent;
    }

    .scrollbar-messages {
      scrollbar-width: auto;
      scrollbar-color: red blue;
    }

    .scrollbar-none {
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
    }
  }
}
