@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: none;
}

@layer utilities {
  @supports selector(::-webkit-scrollbar) {
    /* get rid of daisyui's scrollbar-color */
    * {
      scrollbar-color: initial !important;
    }

    /* conversations scrollbar */
    .scrollbar-conversations::-webkit-scrollbar {
      width: 8px;
    }
    .scrollbar-conversations::-webkit-scrollbar-thumb {
      background: purple;
      border-radius: 4px;
      min-height: 40px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    .scrollbar-conversations::-webkit-scrollbar-track {
      background: transparent;
    }
    .scrollbar-conversations::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
    .scrollbar-conversations:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }

    /* messages scrollbar */
    .scrollbar-messages::-webkit-scrollbar {
      width: 16px;
    }
    .scrollbar-messages::-webkit-scrollbar-thumb {
      min-height: 40px;
      border-radius: 8px;
      background: blue;
      border: 4px solid transparent;
      background-clip: padding-box;
    }
    .scrollbar-messages::-webkit-scrollbar-track {
      border-radius: 8px;
      background: violet;
      border: 4px solid transparent;
      background-clip: padding-box;
    }

    /* hidden scrollbar */
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
  }

  /* no custom scrollbar support*/
  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-conversations {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }

    .scrollbar-conversations:hover {
      scrollbar-color: red transparent;
    }

    .scrollbar-messages {
      scrollbar-width: auto;
      scrollbar-color: red blue;
    }

    .scrollbar-none {
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
    }
  }
}
